<% provide(:title, 'All Users') %>
<p id="notice"><%= notice %></p>

<div id="userAll">
<h1>All Users</h1>

<%= will_paginate %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>|</th>
      <th>Email</th>
      <th>|</th>
      <th colspan="3">Manager</th>

    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>|</td>
        <td><%= user.email %></td>
        <td>|</td>

          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Show', user %></td>
          <% if current_user?(user) ^ current_user.admin? %>
          <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
          <td><%= link_to '', '#' %></td>
          <% end %>
      </tr>
    <% end %>
    </tbody>
</table>

<%= will_paginate %>

<br>

<%= link_to 'New User', signup_path, class: "btn btnAdd" %>

</div>
